<div>
  <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
    <h2>Book</h2>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Date" name="date">
        <mat-option *ngFor="let date of searchDate | async">{{date}}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>Categories:</p>
    <section class="section">
      <mat-checkbox class="margin" formControlName="history">History</mat-checkbox>
      <mat-checkbox class="margin" formControlName="Sf">Since Fiction</mat-checkbox>
      <mat-checkbox class="margin" formControlName="drama">Drama</mat-checkbox>

      <mat-checkbox class="margin" formControlName="action">Action</mat-checkbox>
      <mat-checkbox class="margin" formControlName="adventure">Adventure</mat-checkbox>
      <mat-checkbox class="margin" formControlName="romance">Romance</mat-checkbox>

      <mat-checkbox class="margin" formControlName="mystery">Mystery</mat-checkbox>
      <mat-checkbox class="margin" formControlName="horror">Horror</mat-checkbox>
      <mat-checkbox class="margin" formControlName="novel">Novel</mat-checkbox>
    </section>
    <button mat-icon-button color='primary' type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>