<section>

  <mat-card >
    <mat-card-content routerLink="/books">
      <h2>Books</h2>
      <img mat-card-image src="../../../assets/book.jpeg" alt="book">
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Comic's</h2>
      <img mat-card-image src="../../../assets/comic-book.png" alt="Comic">
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Magazines</h2>
      <img mat-card-image src="../../../assets/magazine.jpeg" alt="mag">
    </mat-card-content>
  </mat-card>

</section>